[include]
path = {{ env.Getenv "HOME" }}/.gitconfig.local

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true

[core]
excludesfile = {{ env.Getenv "HOME" }}/.gitignore

[fetch]
prune = true

[pull]
rebase = true

{{ $os := env.Getenv "OS" -}}
{{- if eq $os "linux" -}}
[credential]
helper = /usr/libexec/git-core/git-credential-libsecret
{{- end }}

[alias]
co = checkout
st = status
br = branch
w = whatchanged
amend = commit --amend

[init]
defaultBranch = main
